.home {
  background-image: url(../img/events.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.start {
  padding-top: 10%;
}

.homeForm {
  width: 70vw;
}

.header {
  padding-top: 15%;
}
